@model AirlineReservationsSystem.Domain.Entities.Flight

@{
    ViewData["Title"] = "Edit Flight";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="FlightId" class="control-label"></label>
        <input asp-for="FlightId" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="AirplaneId" class="control-label"></label>
        <input asp-for="AirplaneId" class="form-control" />
        <span asp-validation-for="AirplaneId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RouteId" class="control-label"></label>
        <input asp-for="RouteId" class="form-control" />
        <span asp-validation-for="RouteId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
