@model IEnumerable<AirlineReservationsSystem.Domain.Entities.Airplane>

<h1>Airplanes</h1>

<table>
    <thead>
        <tr>
            <th>Model</th>
            <th>Capacity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var airplane in Model)
        {
            <tr>
                <td>@airplane.Model</td>
                <td>@airplane.Capacity</td>
            </tr>
        }
    </tbody>
</table>
