@model List<AirlineReservationsSystem.Domain.Entities.Booking>

<table>
    <tr>
        <th>Booking ID</th>
        <th>Flight ID</th>
        <th>Other Data</th>
    </tr>
    @foreach (var booking in Model)
    {
        <tr>
            <td>@booking.BookingId</td>
            <td>@booking.BookingDate</td>
            <td>@booking.Tickets.Count</td> // total number of Tickets
            // status booking
        </tr>
    }
</table>

